* {
  box-sizing: border-box;
}

/* #root {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.userWrap {
  min-width: 200px;
  max-width: 350px;
  width: 100%;
  background-color: rgb(237, 86, 86);
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.userImg {
  height: 300px;
  width: 200px;
  object-fit: cover;
}
